@import '../../../styles/forComponents';

.rm-PostCard {
  margin: 0 0 1.5rem;

  &-title {
    color: $c-primary;
    font-size: $fs-xl;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  &-date {
    color: $c-text-hint;
    font-size: $fs-s;
  }
}