@import '../../../styles/forComponents';

.rm-Layout {
  left: 0;
  margin: 0 auto;
  position: relative;
  transition: all .3s ease;
  will-change: left;

  &>article,
  &>section {
    background-color: $c-bg-body;
    padding: 1rem;
  }
}